.rss-item {
    display: flex;
    justify-content: space-between;
    border: 1px solid rgb(223, 223, 223);
    border-radius: 5px;
    padding: 0.75rem;
    margin-top: 0.5rem;
}
.rss-item-name {
    font-weight: bold;
}
.rss-item-url {
    color: gray;
}
.rss-item-icon {
    cursor: pointer;
}