.date-picker-container {
    display: flex;
    justify-content: space-between;
    font-size: 1rem !important;
    font-weight: bold !important;
}
.date-picker {
    max-width: 320px;
}

.error-message {
    color: red;
}
